@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap');

* {
    outline: none;
}

body {
    font-family: Raleway, sans-serif;
    padding: 0;
    outline: none;
    margin-right: 20px;
}
ul {
    margin-right:3%;
    padding: 0;
    list-style-type: none;
}
#main {
    font-weight: 900;
font-size: x-large;
margin: 20px 0 0 0;
}

h1 {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #0065FC;
}
button {
    font-weight: 700;
}
/* ************************NAVBAR**************************** */
nav {
overflow: hidden;
position: fixed;
width: 100%;
background-color: white;
}
nav li {
    float: right;
    padding: 18px;
}
header li a {
    text-decoration:none
}
#logo {
    float: left;
    padding: 18px 16px;
}


/* ***********************SECTION 1****************************** */
#section1 {
    margin-left: 15px;
    padding-top: 80px;
}

#centre {
    margin-top: 5px;
}

.boutonR {
    display: flex;
    align-items: center;
}


.boutonR i {
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
    padding: 11px;
}
input[type="text"],
textarea {
    border: 1px solid #ccc;
    padding: 9px;
}

input {
    font-weight: 900;
    font-size: 0.8em;
}

.boutonR a {
    color: white;
    background-color: blue;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    text-decoration: none;
}

#filtres {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

#filtres ul {
    display: flex;
    padding: 15px;
}

#filtres li {
    padding: 0 15px 0 10px; 
}

#filtres button {
    background-color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0;
}


#filtres i {
border: 1px solid #ccc;
background-color: #f2f2f2;
border-radius: 50px;
color: blue;
padding: 12px;
}

#info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#info i {
    color: blue;
    font-size: 0.6em;
    border: 1px solid #ccc;
background-color: white;
border-radius: 50px;
padding: 10px;
margin-right: 10px;
}

/* ******************HEBERGEMENTS************************ */

#conteneur1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 65vw;
    padding: 13px;
}

.conteneur2 h1, h3 {
    margin: 0;
    padding-left: 15px;
}

.hebergements {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 10px;
 margin-bottom: 23px;
}

.hebergements div {
    padding: 5px 5px 10px 5px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: white;
    border-radius: 20px;
    width: 29%;
    box-shadow: 1px 1px 12px #555;
}

.conteneur2 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;
}


.conteneur2 h4, .conteneur2 p, .conteneur2 i {
    padding-left: 5px;
    font-size: 100%;
    margin: 3px;
}


.conteneur3 {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 30vw;
    margin-left: 25px;
    padding: 0px;
}

.conteneur3 h1 {
    padding-left: 8%;
}
.title {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-bottom: -16px;
}

.title i {
    font-size: 1.7em;
    padding: 0;
}

.conteneur3 div:not(.soleil-txt, .coeur-txt, .bleu-txt, .stars, .title) {
    
    padding: 5px 5px 10px 5px;
    margin: 26px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 1px 12px #555;
    
}

.conteneur3 img {
    border-radius: 20px 0 0 20px;
    width: 40%;
    height: 150px;
    object-fit: cover;
}

.conteneur3 p, .conteneur3 h4, .conteneur3 i 
{padding-left: 5%;}

/* ************************ACTIVITES****************************** */
#activites {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

#activites h1 {
    margin: 20px;
}

#conteneur4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   width: 99%;
   height: 80vh;
}

.vieuxPort, .calanques {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgb(209, 207, 207);
    height: 80%;
    width: 100%;
   margin: 20px;
}

#conteneur5, #conteneur6 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 100%;
   
}

.promegues, .frioul, .garde, .longchamp {
    height: 46%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(209, 207, 207);
    margin: 10px;
}

#conteneur4 img:not(.vieuxPort img, .calanques img)    
    {   width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;}

.activites_images {
    overflow: hidden;
}
.vieuxPort img, .calanques img {
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#conteneur4 h4 {
    padding-left: 10%;
}


/* **************FOOTER************** */
#conteneur7 {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    background-color: #F2F2F2;
    margin: -20px;
}

#conteneur7 ul {
    margin: 50px;
}



