@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap');

* {
    outline: none;
}

body {
    font-family: Raleway, sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}
ul {
    list-style-type: none;
}

h1 {
    font-size: 1.7em;
    font-weight: 700;
}

h4 {
    font-size: 18px;
}

button {
    font-weight: 700;
}
i {
    color:  #0065FC;
}
.fas.fa-chart-line {
    color: black;
}

.fas.fa-map-marker-alt {
   color: black;
}

header a {
    text-decoration:none
}

.global {
    /*padding-left: 15px;
    padding-right: 20px;*/
    padding: 0 40px;
}

header a {
    text-decoration:none
}


/* ************************NAVBAR**************************** */
.navbar {
    display: flex;
    min-height: 80px;
}

.navbar a {
    text-decoration: none;
}

#logo {
  display: flex;
}

#logo a {
    display: flex;
}

#externe a {
    color: #0065FC;
    font-weight: 700;
    }

nav {
display: flex;
flex-direction: row;
justify-content: flex-end;
flex-grow: 2;
}

nav a {
    padding: 0 35px;
    display: flex;
    align-items: center;
}

nav a.mobile {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#navAct {
    font-weight: 500;
    color: black;
}

#register {
    display: flex;
    align-items: center;
}

#register a {
    padding: 0 35px;
    color: #0065FC;
    font-weight: 700;
}

@media (max-width: 770px) {
    body {
        margin: 0;
        padding-top: 20px;
    }
    #logo a {
        padding-left: 30px;
    }
  .navbar {
      flex-wrap: wrap;
      justify-content: space-between;
  }

  nav {
    /*padding-top: 80px;*/
    order: 3;
    width: 100%;
    flex-grow: 0;
    justify-content: space-around;
    display: flex;
    align-content: stretch;
}

nav a {
    width: 50%;
    justify-content: center;
    padding: 20px 0;
    border-bottom: solid 2px #eee;
}

   nav a.mobile {
    border-top: none;
       border-bottom: 4px solid blue;
   }
   
   .global {
       padding: 0;
   }
}

  

/* ***********************SECTION 1****************************** */



/* ***********************SECTION 1****************************** */


#main {
    font-weight: 900;
    font-size: x-large;
}

#centre {
    padding-bottom: 20px;
}


.boutonR {
    display: flex;
    align-items: center;
}
.boutonR .input {
    font-weight: 700;
    font: black;
    height: 30px;
}
::placeholder 
    {color: black;
    padding-left: 5px;}

.boutonR i {
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
    padding: 15px;
}
input[type="text"],
textarea {
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 16px;
}

input {
    font-weight: 900;
    font-size: 0.8em;
}

.boutonR a {
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 13px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.fas.fa-search {
    color: white;
    background-color: #0065FC;
    border-radius: 15px;
    padding: 14px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    left: -10px;
}

#filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#filtres h3 {
    padding-right: 15px;
}

#filtres ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#filtres li {
    padding: 0; 
    margin: 5px;
}

#filtres button {
    background-color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
}

#filtres a {
    padding-right: 10px;
    padding-left: 10px;
}

#filtres span {
    padding-right: 20px;
    padding-left: 10px;
}

#filtres i:not(.fas.fa-child) {
background-color:#e4efff;
border-radius: 50px;
padding: 18px;
position: relative;
left: -2px;
}

.fas.fa-child {
    background-color:#e4efff;
    border-radius: 50px;
    padding: 18px 20px;
    position: relative;
    left: -2px;
    }

#filtres i:hover {
    background-color: rgba(109, 199, 252, 0.4);
  transition: background-color .5s;
}

#filtres button:hover {
    background-color: rgba(109, 199, 252, 0.4);
  transition: background-color .5s;
}

#info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#info i {
    font-size: 0.6em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 50px;
    padding: 7px 10px;
    margin-right: 10px;
}

@media (min-width: 770px) {
    .fas.fa-search {
        display: none;
    }
    #section1 {
        margin: 0 30px;
    }
    #conteneur1 {
        margin: 0 30px;
    }
    .navbar {
        margin: 0 30px;
    }
}

@media (max-width: 770px) {
    #section1 {
        margin-right: 7%;
        margin-left: 7%;
    }
   #section1 h1 {
       padding-top: 15%;
   }
   .boutonR a {
       display: none;
   }
   #main {
       margin-right: 15px;
   }

   #filtres h3 {
       margin-bottom: 0;
   }
   #info p {
       padding-top: 27px;
   }
}
/* ******************HEBERGEMENTS************************ */

#conteneur1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 25px;
    margin-right: 15px;
}

.conteneur2 h1, .conteneur2 h3 {
    padding-left: 20px;
}

.hebergements {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.hebergements div {
    padding: 5px 5px 10px 5px;
    margin: 13px 10px 13px -4px;
    background-color: white;
    border-radius: 20px;
    width: 29%;
    min-width: 200px;
    box-shadow: 1px 1px 12px #555;
}


.conteneur2 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    min-height: 130px;
    max-height: 150px;
    object-fit: cover;
}


.conteneur2 h4, .conteneur2 p, .conteneur2 i {
    padding-left: 5px;
    font-size: 100%;
    margin: 3px;
}

@media (max-width: 770px) {
    .conteneur2 {
        margin-right: 0;
        padding: 32px;
    }

    .conteneur2 h1, .conteneur2 h3 {
        padding-left: 0;
    }
}

.conteneur3 {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 25px;
    padding: 25px;
}

.conteneur3 h1 {
    padding-left: 8%;
}

.title {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-bottom: -16px;
}

.title i {
    font-size: 1.7em;
    padding: 0;
}

.conteneur3 h4 {
    margin:0;
}

.conteneur3 p {
    margin-top: 6px;
}

.soleil, .coeur, .bleu {
    
    padding: 5px 5px 5px 5px;
    margin: 26px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 1px 12px #555;
    min-width: 400px;
    height: 160px;
}
.soleil1, .coeur1, .bleu1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.conteneur3 img {
    border-radius: 20px 0 0 20px;
    width: 40%;
    min-height: 150px;
    max-height: 180px;
    object-fit: cover;
    margin-right: 15px;
}


@media (max-width: 770px) {
    #conteneur1 {
        flex-direction: column-reverse;
    }
    .conteneur2 {
        background-color: white;
    }
    .hebergements {
        flex-direction: column;
    }
    .hebergements div {
        width: 100%;
    }
    .conteneur3 {
        margin-left: 0;
        padding: 0;
    }
    .conteneur3 div:not(.soleil-txt, .coeur-txt, .bleu-txt, .stars, .title) {
        min-width: 100px;
    }
}


/* ************************ACTIVITES****************************** */
#activites {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

#activites h1 {
    margin: 20px;
}

#conteneur4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
}

@media (max-width: 770px) {
   #conteneur4 {
       flex-direction: column;
   } 
   #activites {
       margin-top: 0;
   }
}

.vieuxPort, .calanques { 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgb(209, 207, 207);
    width: 100%;
    margin: 10px 20px;
    max-height: 585px;
}

#conteneur5, #conteneur6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.promegues, .frioul, .garde, .longchamp {
    height: 47%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(209, 207, 207);
}

#conteneur4 img:not(.vieuxPort img, .calanques img)    
    {   width: 100%;
        max-height: 220px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;}

.activites_images {
    overflow: hidden;
    height: 100%;
}

.vieuxPort img, .calanques img {
    object-fit: cover;
    width: 100%;
    min-height: 180px;
    border-radius: 20px 20px 0 0;
    height: 100%;
}

#conteneur4 h4 {
    padding-left: 10%;
}

@media (max-width: 770px) {
    .vieuxPort, .calanques {
        width: initial;
        margin: 15px 25px;  
    }

    #conteneur5, #conteneur6 {
        width: initial;
        margin: 15px 25px;
    }
    
    .activites_images {
        max-height: 150px;      
    }
    .promegues, .garde {
        margin-bottom: 30px;
    }
}
/* **************FOOTER************** */

#conteneur7 {
    display: flex;
    background-color: #F2F2F2;
    align-items:baseline;
}
.aPropos {
display: flex;
flex-direction: column;
width: 30%;
}
.nosHebergements {
        display: flex;
        flex-direction: column;
        width: 30%;
        }
.assistance {
    display: flex;
    flex-direction: column;
    width: 30%;
    }

@media (max-width: 770px) {
    footer {
       width: 100%; 
       position: absolute;
    }
    #conteneur7 {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #conteneur7 div {
        width: 100%;
    }
}





